* {
  font-size: 30px;
  display: block;
}

div, .some-class.some-class-2.some-class-3, div#about.main__info.main__info--blue {
  color: blue;
  height: 300px;
  width: 200px;
  font-size: 20px;
}

h1, h2, h3 {
  color: red;
}

div, h1, h2, h3, p, form, header, footer, section {
  display: block;
}

span, a, img {
  display: inline;
}

.hidden {
  display: none;
}