* {
  font-size: 30px;
  display: block;
  width: 50px;
}

div, .some-class.some-class-2.some-class-3, div#about.main__info.main__info--blue {
  color: blue;
  height: 300px;
  width: 200px;
  font-size: 20px;
  margin-left: 10px;
}

h1, h2, h3 {
  color: red;
}

span, a, img {
  display: inline;
}

.hidden {
  display: none;
}